<section class="page__about about">
    <div class="about__grid">
        <div class="about__images">
            <img src="@img/latest-blogs/01.jpg" alt="img">
        </div>
        <div class="about__content">
            <h2 class="about__title">John Artist</h2>
            <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex omnis impedit saepe laboriosam autem nemo nobis tenetur natus quod nihil incidunt sequi facilis ea deserunt minima a, quo veniam modi. Repudiandae voluptate rem nisi. Dolores ut quae necessitatibus rerum soluta numquam molestiae expedita corrupti exercitationem officiis quod tempora quia laudantium, dicta eveniet laborum asperiores facilis enim. Tempore nisi ipsam laboriosam. A consequuntur ipsa veritatis laboriosam debitis possimus exercitationem incidunt, modi iste, omnis, eveniet itaque quo. Alias a consequuntur et officiis maxime recusandae dicta deleniti vero illum eum ad odio consectetur debitis vitae tempore ducimus ipsum, reprehenderit pariatur labore autem incidunt itaque. Quibusdam, numquam. Eaque minus ad architecto enim nam repellat sint, consequatur </p>
        </div>
    </div>
</section>