<section class="page__contact contact">
    <div class="contact__container">
        <div class="contact__content">
            <div class="section-text">
                <h2 class="section-title">Contact Me</h2>
            </div>
        </div>
        <div class="contact__body">
            <div class="contact__img contact__img--ibg">
                <img src="@img/contact/01.jpg" alt="img">
            </div>
            <div class="contact__form form-contact">
                <form class="form-contact__form" action="#" method="POST">
                    <div class="form-contact__group">
                        <label class="form-contact__label" for="name">Name:</label>
                        <input class="form-contact__input" type="text" id="name" name="name" required>
                        {{!-- <span class="field-validation-error">Please enter your name</span> --}}
                    </div>
                    <div class="form-contact__group">
                        <label class="form-contact__label" for="email">Email:</label>
                        <input class="form-contact__input" type="email" id="email" name="email" required>
                        {{!-- <span class="field-validation-error">The Email field is required.</span> --}}

                    </div>
                    <div class="form-contact__group">
                        <label class="form-contact__label" for="message">Message:</label>
                        <textarea class="form-contact__input" id="message" name="message" rows="4" required></textarea>
                        {{!-- <span class="field-validation-error">Please enter your name</span> --}}

                    </div>
                    <button class="form-contact__btn" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>