<section class="page__gallery gallery">
    <div class="gallery__container">

        <div class="gallery__wrapper">
            <div class="gallery__nav">
                <div data-group="All" class="active">All</div>
                <div data-group="nav1" class="">nav1</div>
                <div data-group="nav2" class="">nav2</div>
                <div data-group="nav3" class="">nav2</div>
            </div>
            <div class="gallery__grid" data-gallery-main>
                <article data-group="nav1" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/01.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg ">
                            <img src="@img/gallery/01.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title New Title New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav2" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/02.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/02.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav1" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/03.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/03.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav3" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/04.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/04.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article  data-group="nav1" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/05.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/05.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav3" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/07.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/07.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav2" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/08.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/08.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav2" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/09.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/09.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav2" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/10.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/10.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
                <article data-group="nav2" class="gallery__card card-gallery">
                    <div class="card-gallery__body">
                        <a href="@img/gallery/11.jpg" class="card-gallery__thumbnail card-gallery__thumbnail--ibg">
                            <img src="@img/gallery/11.jpg" alt="img">
                        </a>
                        <div class="card-gallery__content">
                            <h4 class="card-gallery__title">New Title</h4>
                            <div class="card-gallery__size">16 x 14</div>
                            <div class="card-gallery__date">26.03.2023</div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>