<section class="page__hero hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero-title">{{title}}</h1>
        </div>
        <div class="hero__images hero__images--ibg">
            <img src="@img/hero/{{img}}.jpg" alt="hero-image">
        </div> 
    </div>
</section>