<section class="page__latest-blogs latest-blogs">
    <div class="latest-blogs__container">
        <div class="latest-blogs__content">
            <div class="section-text">
                <h2 class="section-title">Latest blogs</h2>
                <a href="./blogs.html" class="section-link">See all blogs</a>
            </div>
        </div>
        <div class="latest-blogs__list">
            <div class="blog__card card-blog">

                <div class="card-blog__img">
                    <img src="@img/blog/01.jpg" alt="">
                </div>

                <div class="card-blog__body">
                    <h2>Learning to Code</h2>
                    <h3>Opening a door to the future</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac mattis mi. Lorem ipsum
                        dolor sit
                        amet, consectetur adipiscing elit. Maecenas sollicitudin semper nisi, vestibulum egestas
                        mauris.</p>
                    <p class="card-blog__link">
                         <span>20.07.2023</span>
                        <a href="./blog-page.html">Read More</a>
                    </p>
                </div>
            </div>
            <div class="blog__card card-blog ">
                <div class="card-blog__img">
                    <img src="@img/blog/02.jpg" alt="">
                </div>
                <div class="card-blog__body">
                    <h2>Learning to Code</h2>
                    <h3>Opening a door to the future</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac mattis mi. Lorem ipsum
                        dolor sit
                        amet, consectetur adipiscing elit. Maecenas sollicitudin semper nisi, vestibulum egestas
                        mauris.</p>
                    <p class="card-blog__link">
                         <span>20.07.2023</span>
                        <a href="./blog-page.html">Read More</a>
                    </p>
                </div>
            </div>
            <div class="blog__card card-blog">
                <div class="card-blog__img">
                    <img src="@img/blog/04.jpg" alt="">
                </div>
                <div class="card-blog__body">
                    <h2>Learning to Code</h2>
                    <h3>Opening a door to the future</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac mattis mi. Lorem ipsum
                        dolor sit
                        amet, consectetur adipiscing elit. Maecenas sollicitudin semper nisi, vestibulum egestas
                        mauris. </p>
                    <p class="card-blog__link">
                         <span>20.07.2023</span>
                        <a href="./blog-page.html">Read More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>