<section class="page__latest-blogs latest-blogs">
    <div class="latest-blogs__container">
        <div class="latest-blogs__content">
            <div class="section-text">
                <h2 class="section-title">Latest blogs</h2>
                <a href="#" class="section-link">Sea more</a>
            </div>
        </div>
        <div class="latest-blogs__list latest-blog">
            <a href="#" class="latest-blog__card">
                <div class="latest-blog__img latest-blog--ibg">
                    <img src="@img/latest-blogs/01.jpg" alt="img">
                </div>
                <div class="latest-blog__body">
                    <h4 class="latest-blog__title">Lorem Ipsum 1</h4>
                    <p class="latest-blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi pariatur tenetur quasi sint dolore eaque animi consequatur qui aut?</p>
                    <div class="latest-blog__date">01/03/2023</div>
                </div>
            </a>
            <a href="#" class="latest-blog__card">
                <div class="latest-blog__img latest-blog--ibg">
                   <img src="@img/latest-blogs/02.jpg" alt="img">
                </div>
                <div class="latest-blog__body">
                    <h4 class="latest-blog__title">Lorem Ipsum 2</h4>
                    <p class="latest-blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat quidem atque cupiditate ipsa nostrum accusamus tempore autem odio dicta!</p>
                    <div class="latest-blog__date">27/03/2023</div>
                </div>
            </a>
            <a href="#" class="latest-blog__card">
                <div class="latest-blog__img latest-blog--ibg">
                   <img src="@img/latest-blogs/03.jpg" alt="img">
                </div>
                <div class="latest-blog__body">
                    <h4 class="latest-blog__title">Lorem Ipsum 3</h4>
                    <p class="latest-blog__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fugiat quidem atque cupiditate ipsa nostrum accusamus tempore autem odio dicta!</p>
                    <div class="latest-blog__date">27/07/2023</div>
                </div>
            </a>
        </div>
    </div>
</section>