<div class="page__slider slider swiper">
    <div class="slider__wrapper swiper-wrapper" data-gallery-slider>
        <a href="@img/slider/01.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/01.jpg" alt="img">
        </a>
        <a href="@img/slider/02.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/02.jpg" alt="img">
        </a>
        <a href="@img/slider/03.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/03.jpg" alt="img">
        </a>
        <a href="@img/slider/04.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/04.jpg" alt="img">
        </a>
        <a href="@img/slider/05.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/05.jpg" alt="img">
        </a>
        <a href="@img/slider/06.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/06.jpg" alt="img">
        </a>
        <a href="@img/slider/07.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/07.jpg" alt="img">
        </a>
        <a href="@img/slider/08.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/08.jpg" alt="img">
        </a>
        <a href="@img/slider/09.jpg" class="slider__slide  swiper-slide">
            <img src="@img/slider/09.jpg" alt="img">
        </a>
    </div>
</div>