<section class="page__subscribe subscribe">
    <div class="subscribe__container">
        <div class="subscribe__form subscribe-form">
            <h2 class="subscribe-form__title">Subscribe for news</h2>
            <form action="#" class="subscribe-form__form">
                <input type="email" class="subscribe-form__input" placeholder="Enter your email" required>
                <button type="submit" class="subscribe-form__submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>