<div class="page__testimonials testimonials">
    <div class="testimonials__container swiper testimonials-swiper">
        <div class="testimonials__wrapper swiper-wrapper">
            <div class="testimonials__item swiper-slide">
                <div class="testimonials__avatar testimonials__avatar--ibg">
                    <img src="@img/testimonials/01.jpg" alt="User Avatar">
                </div>
                <div class="testimonials__content">
                    <p class="testimonials__text">"Great product! I love it!"</p>
                    <p class="testimonials__author">- John Doe</p>
                </div>
            </div>
            <div class="testimonials__item swiper-slide">
                <div class="testimonials__avatar testimonials__avatar--ibg">
                    <img src="@img/testimonials/02.jpg" alt="User Avatar">

                </div>
                <div class="testimonials__content">
                    <p class="testimonials__text">"This changed my life. Highly recommended!"</p>
                    <p class="testimonials__author">- Jane Smith</p>
                </div>
            </div>
            <div class="testimonials__item swiper-slide">
                <div class="testimonials__avatar testimonials__avatar--ibg">
                    <img src="@img/testimonials/03.jpg" alt="User Avatar">

                </div>
                <div class="testimonials__content">
                    <p class="testimonials__text">"This changed my life. Highly recommended!"</p>
                    <p class="testimonials__author">- Jane Smith</p>
                </div>
            </div>
            <div class="testimonials__item swiper-slide">
                <div class="testimonials__avatar testimonials__avatar--ibg">
                    <img src="@img/testimonials/04.jpg" alt="User Avatar">

                </div>
                <div class="testimonials__content">
                    <p class="testimonials__text">"This changed my life. Highly recommended!"</p>
                    <p class="testimonials__author">- Jane Smith</p>
                </div>
            </div>
            
        </div>
        <div class="testimonials-swiper__dots"></div>
    </div>
</div>