<div class="page__ul ul">
    <div class="ul__container">
        <ul class="ul__list">
            <li class="ul__item item">
                <h3 class="item__title">EDUCATION</h3>
                <ul class="item__list">
                    <li class="item__bullet">University of the Arts London (UAL) 1988-1994.</li>
                    <li class="item__bullet">Royal College of Art (RCA) 1998-2002</li>
                    <li class="item__bullet">University for the Creative Arts (UCA) 202-2006 .</li>
                    <li class="item__bullet">University of the Arts London (UAL) 1988-2023.</li>
                </ul>
            </li>
            <li class="ul__item item">
                <h3 class="item__title">SOLO EXHIBITION</h3>
                <ul class="item__list">
                    <li class="item__bullet">"The Starry Night" NY</li>
                  
                </ul>
            </li>
            <li class="ul__item item">
                <h3 class="item__title">EXHIBITION</h3>
                <ul class="item__list">
                    <li class="item__bullet">Mona Lisa: Beyond the Glass" - An exhibition that delves into the history and significance of Leonardo da Vinci's iconic painting, the "Mona Lisa."</li>
                    <li class="item__bullet">"Frida Kahlo: Making Her Self Up" - An exhibition exploring the life and art of the renowned Mexican artist Frida Kahlo, featuring her self-portraits and personal belongings.</li>
                    <li class="item__bullet">"Picasso: Blue and Rose Periods" - A collection of artworks by Pablo Picasso during his influential Blue and Rose periods, which marked a significant phase in his career.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>