@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== About ====
*/

.text {
  // .text__content
  &__content {
    flex: 1;
    @include flex-column($gap: 0);
    justify-content: center;
    color: var(--text-co);
    line-height: 150%;
    padding-right: rem(15);
    @media (max-width: $breakpoint992) {
      padding-left: rem(15);
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .about__title

  &__title {
    @include adaptiveValue("font-size", 48, 30);
    margin-bottom: calc(45 / 48 * 1em);
    color: var(--heading-co);
  }

  // .about__text

  &__paragraph {
    @include adaptiveValue("font-size", 20, 17);
    font-weight: var(--fw-slim);
    line-height: 150%;
    margin-bottom: calc(50 / 48 * 1em);
  }
}
