@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Content ====
*/

.content {
  // .content__container

  &__container {
   
  }

  // .content__body

  &__body {
    max-width: rem(1000);
    margin: 0 auto;

    img {
      max-width: 100%; 
      height: auto;
    }
  }

  // .content__title

  &__title {
    @include adaptiveValue("font-size", 55, 45);
    @include adaptiveValue('margin-bottom',30,25);
    line-height: 1.2;

    &--2 {
      @include adaptiveValue("font-size", 45, 35);
      @include adaptiveValue('margin-bottom',25,20);
      line-height: 1.2;
    }

    &--3 {
      @include adaptiveValue("font-size", 40, 30);
      @include adaptiveValue('margin-bottom',20,17);
      line-height: 1.2;
    }
    &--4 {
      @include adaptiveValue("font-size", 35, 30);
      @include adaptiveValue('margin-bottom',17,14);
      line-height: 1.2;

    }
  }

  // .content__paragraph

  &__paragraph {
    @include adaptiveValue("font-size", 30, 25);
    line-height: 130%;
    @include adaptiveValue('margin-bottom',25,20);
    font-weight: var(--fw-slim);

    &--medium {
        @include adaptiveValue("font-size", 25, 20);
       
        @include adaptiveValue('margin-bottom',23,18);
        line-height: 130%;
        font-weight: var(--fw-slim);
      }

    &--semi-medium {
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue('margin-bottom',20,15);
        line-height: 130%;
        font-weight: var(--fw-slim);
       
      }
    &--small {
        @include adaptiveValue("font-size", 16, 14);
        @include adaptiveValue('margin-bottom',18,13);
        line-height: 130%;
        font-weight: var(--fw-slim);
       
      }

  }
}
