@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Content ====
*/

.content {
  // .content__container

  &__container {
   
  }

  // .content__body

  &__body {
    max-width: rem(1000);
    margin: 0 auto;
  }

  // .content__title

  &__title {
    @include adaptiveValue("font-size", 55, 45);
    margin-bottom: calc(25 / 55 * 1em);

    &--2 {
      @include adaptiveValue("font-size", 45, 35);

      margin-bottom: calc(20 / 45 * 1em);
    }

    &--3 {
      @include adaptiveValue("font-size", 40, 30);
      margin-bottom: calc(15 / 40 * 1em);
    }
    &--4 {
      @include adaptiveValue("font-size", 35, 30);
      margin-bottom: calc(10 / 35 * 1em);
    }
  }

  // .content__paragrpah

  &__paragrpah {
    @include adaptiveValue("font-size", 30, 25);
    line-height: 130%;
    margin-bottom: calc(25 / 20 * 1em);
    font-weight: var(--fw-slim);

    &--medium {
        @include adaptiveValue("font-size", 25, 20);
        margin-bottom: calc(20 / 16 * 1em);
      }

    &--medium-semi {
        @include adaptiveValue("font-size", 20, 16);
        margin-bottom: calc(20 / 16 * 1em);
       
      }
    &--small {
        @include adaptiveValue("font-size", 16, 14);
        margin-bottom: calc(15 / 16 * 1em);
       
      }

  }
}
