@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Gallery ====
*/

.gallery {
  // .gallery__container

  &__container {
  }

  // .gallery__wrapper

  &__wrapper {
  }

  // .gallery__nav

  &__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(10);
    @include adaptiveValue("margin-bottom", 30, 20);

    div {
      cursor: pointer;
      @include adaptiveValue("font-size", 25, 20);
      @include adaptiveValue("padding-left", 10, 5);
      @include adaptiveValue("padding-right", 10, 5);

      border-right: 1px solid;

      &:first-child {
        border-left: 1px solid;
      }

      &.active {
        color: red;
      }
    }
  }

  // .gallery__grid

  &__grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include adaptiveValue('gap',30,15);

    @media (max-width: $breakpoint768) {
           grid-template-columns: 1fr 1fr;
    }
  }

  // .gallery__card

  &__card {


    // @media (max-width: $breakpoint768) {
    //   flex-basis: 40%;
    // }
  }
}

.card-gallery {
  // .card-gallery__body
  &.visible {
    display: block;
  }

  &.hidden {
    display: none;

  }

  &__body {
  }
  // .card-gallery__thumbnail

  &__thumbnail {
    display: block;
    padding-bottom: 80%;

    img {
      
    }
  }

  // .card-gallery__content

  &__content {
    padding-top: rem(10);
    @include flex-column($gap: 0);
    @include adaptiveValue("gap", 8, 5);
  }

  // .card-gallery__title

  &__title {
    font-weight: var(--fw-semi-bold);
    color: var(--heading-co);
    @include adaptiveValue("font-size", 18, 14);
    line-height: 120%;
  }

  // .card-gallery__size

  &__size {
    font-style: italic;
    @include adaptiveValue("font-size", 18, 14);
    color: var(--text-co);
  }

  // .card-gallery__date

  &__date {
    @include adaptiveValue("font-size", 18, 14);
    color: var(--text-co);
  }
}
