@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Latest Blogs====
*/

.latest-blogs {

    // .latest-blogs__container
    &__container {
    }

    // .latest-blogs__content
    &__content {
    }

    // .latest-blogs__list
    &__list {
        @include flex-column($gap:30);

        .blog__card {
            max-width: 100%;
        }
        .card-blog__body {
            @include flex-column($gap:0);
            justify-content: center;
        }
        .card-blog__img {
            height: 300px;
        }
    }
}
