@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Unordered ====
*/

.ul {
  // .ul__container
  &__container {
  }

  // .ul__list

  &__list {
    @include flex-column($gap: 0);
    @include adaptiveValue("gap", 50, 30);
  }

  // .ul__item

  &__item {
  }
}
.item {
  // .item__title

  &__title {
    @include adaptiveValue("font-size", 30, 25);
    border-top: 1px solid #949494;
    letter-spacing: 1px;
    padding-top: rem(10);
    &:not(:last-child) {
      margin-bottom: calc(20 / 30 * 1em);
    }
  }

  // .item__list
  &__list {
    @include flex-column($gap: 10);
  }

  // .item__bullet

  &__bullet {
    @include adaptiveValue("font-size", 20, 18);
    color: var(--text-co);
    font-weight: var(--fw-slim);
    line-height: 150%;

    > a {
      @include adaptiveValue("font-size", 20, 18);
      color: var(--text-co);
      font-weight: var(--fw-slim);
      line-height: 150%;
      display: flex;
      align-items: center;
      @include adaptiveValue("gap", 15, 10);
      transition: all 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          //  transform: translateY(5px);
          //  color: red;
          text-decoration: underline;
        }
      }
    }

    i {
      align-self: flex-start;
      

      @include adaptiveValue("font-size", 35, 25);

      &:before {
        line-height: 0;
      }
    }
  }
}
