@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;
/*
  ==== Footer ====
*/
.footer {
  padding: rem(15) 0;

  &__container {
    @include flex-sb-center($gap: 0);
    @include adaptiveValue("gap", 40, 20);
    flex-wrap: wrap;
    flex-direction: column;


  }
  // .footer__text
  &__text {
    width: 100%;
    order: 3;
    text-align: center;
  }

}

.socials {
  

  // .socials__list
  &__list {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 20, 15);
    justify-content: center;

    @media (min-width: $breakpoint768) {
      justify-content: flex-end;
    }
  }

  // .socials__item
  &__item {
  }

  // .socials__link
  &__link {
    @include adaptiveValue("font-size", 24, 18);
    color: var(--black-co);
    display: block;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
