<section class="page__blog blog">
    <div class="blog__container">
        <div class="blog__content">
            <div class="section-text">
                <h2 class="section-title">Moon lght shadow</h2>
                <div class="section-date"></div>
            </div>
        </div>
        <div class="blog__images"></div>
    </div>
</section>