{{#>  ../layouts/layout-main title="About"}}
     <!-- Hero -->
    {{#> ../page-blocks/_hero img="about"}}
    {{/../page-blocks/_hero}} 

     <!-- About -->
    {{#> ../page-blocks/_about}}
    {{/../page-blocks/_about}} 
</section>
{{/../layouts/layout-main }}