<!-- Footer -->
<footer class="footer">
    <div class="footer__container">
        <p class="footer__text"><small>&copy; Artist 2023</small></p>
        <div class="footer__socials socials">
            <ul class="socials__list">
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-twitter"></i></a></i></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-facebook"></i></a></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-instagram"></i></a></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</footer>