<!-- Header -->
<header class="header">
    <div class="header__container">
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">About</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Gallery</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Blog</a>
                </li>
                
        </nav>
        <div class="header__logo">
            <a href="#">Artist</a>
        </div>
        <div class="header__socials socials">
            <ul class="socials__list">
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-twitter"></i></a></i></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-facebook"></i></a></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-instagram"></i></a></li>
                <li class="socials__item"><a href="#" class="socials__link"><i class="bi bi-youtube"></i></a></li>
            </ul>
        </div>
        <button type="button" class="icon-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>