
/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --text-co:  #3A3A3A;
  --heading: #111;
  --page-bg: #000;
  --burger-color: var(--black-co);
  --burger-active-color: var(--black-co);
}


